In [1]:
import pandas as pd
import datetime as dt

In [2]:
df = pd.read_csv("/home/arpit/study/BTP/dataset/hypothetical-data/basic-line-OriginalTT.csv")

In [3]:
df.head()

,Station,TTArrTime,ArrFlag,Loop,TTDepTime,DepFlag,Secn,TTHaltTime,MinHaltTime,TTRunTime,MinRunTime,TrainID,Priority
0,Kilo,2016-04-16 09:06:00,P,0,2016-04-16 09:11:00,P,0,5,5,12,10,10001,1
1,Juliet,2016-04-16 09:23:00,P,0,2016-04-16 09:28:00,P,0,5,5,12,10,10001,1
2,India,2016-04-16 09:40:00,P,0,2016-04-16 09:45:00,P,0,5,5,12,10,10001,1
3,Hotel,2016-04-16 09:57:00,P,0,2016-04-16 10:02:00,P,0,5,5,12,10,10001,1
4,Golf,2016-04-16 10:14:00,P,0,2016-04-16 10:19:00,P,0,5,5,12,10,10001,1

# Arrival time

In [4]:
df['arrival_time'] = pd.to_datetime(df['TTArrTime'])

In [5]:
df['arrival_time_epoch'] = (df['arrival_time'] - dt.datetime(1970 , 1 , 1)).dt.total_seconds()//60

In [6]:
min_time = df['arrival_time_epoch'].min()
df['arrival_time_epoch'] = df['arrival_time_epoch'] - min_time

# Departure time

In [7]:
df['departure_time'] = pd.to_datetime(df['TTDepTime'])
df['departure_time_epoch'] = (df['departure_time'] - dt.datetime(1970 , 1 , 1)).dt.total_seconds()//60
df['departure_time_epoch'] = df['departure_time_epoch'] - min_time

In [8]:
train_count = df.groupby('TrainID').count()['Station']
train_ids = df['TrainID'].unique()

In [9]:
f = open("/home/arpit/study/BTP/rail_simulator/Input_files/HYP3/Trains.txt" , "w")

In [10]:
for train , count in zip(train_ids, train_count):
    df_temp = df[df['TrainID'] == train]
    
    f.write("{} {} {}\n".format(train , df_temp['Priority'].unique()[0] , count))
    for index, row in df_temp.iterrows():
        f.write("{} {} {} {} {}\n".format(row['Station'] , int(row['arrival_time_epoch']) , int(row['departure_time_epoch']), 
              row['MinHaltTime'] , row['MinRunTime']))
    
    f.write('*'*50)
    f.write('\n')
    
f.close()