In [1]:
import pandas as pd
import datetime as dt

In [2]:
df = pd.read_csv("/home/arpit/study/BTP/dataset/hypothetical-data/rl-toy-OriginalTT.csv")

In [3]:
df.head()

,Station,TTArrTime,ArrFlag,Loop,TTDepTime,DepFlag,Secn,TTHaltTime,MinHaltTime,TTRunTime,MinRunTime,TrainID,Priority
0,Echo,2017-03-01 00:00:00,P,0,2017-03-01 00:05:00,P,0,5,5,10,10,10001,1
1,Delta,2017-03-01 00:15:00,P,0,2017-03-01 00:20:00,P,0,5,5,10,10,10001,1
2,Charlie,2017-03-01 00:30:00,P,0,2017-03-01 00:35:00,P,0,5,5,10,10,10001,1
3,Bravo,2017-03-01 00:45:00,P,0,2017-03-01 00:50:00,P,0,5,5,10,10,10001,1
4,Alpha,2017-03-01 01:00:00,P,0,2017-03-01 01:05:00,P,0,5,5,0,0,10001,1

# Arrival time

In [4]:
df['arrival_time'] = pd.to_datetime(df['TTArrTime'])

In [5]:
df['arrival_time_epoch'] = (df['arrival_time'] - dt.datetime(1970 , 1 , 1)).dt.total_seconds()//60

In [6]:
min_time = df['arrival_time_epoch'].min()
df['arrival_time_epoch'] = df['arrival_time_epoch'] - min_time

# Departure time

In [7]:
df['departure_time'] = pd.to_datetime(df['TTDepTime'])
df['departure_time_epoch'] = (df['departure_time'] - dt.datetime(1970 , 1 , 1)).dt.total_seconds()//60
df['departure_time_epoch'] = df['departure_time_epoch'] - min_time

In [8]:
df

,Station,TTArrTime,ArrFlag,Loop,TTDepTime,DepFlag,Secn,TTHaltTime,MinHaltTime,TTRunTime,MinRunTime,TrainID,Priority,arrival_time,arrival_time_epoch,departure_time,departure_time_epoch
0,Echo,2017-03-01 00:00:00,P,0,2017-03-01 00:05:00,P,0,5,5,10,10,10001,1,2017-03-01 00:00:00,0.0,2017-03-01 00:05:00,24805445.0
1,Delta,2017-03-01 00:15:00,P,0,2017-03-01 00:20:00,P,0,5,5,10,10,10001,1,2017-03-01 00:15:00,15.0,2017-03-01 00:20:00,24805460.0
2,Charlie,2017-03-01 00:30:00,P,0,2017-03-01 00:35:00,P,0,5,5,10,10,10001,1,2017-03-01 00:30:00,30.0,2017-03-01 00:35:00,24805475.0
3,Bravo,2017-03-01 00:45:00,P,0,2017-03-01 00:50:00,P,0,5,5,10,10,10001,1,2017-03-01 00:45:00,45.0,2017-03-01 00:50:00,24805490.0
4,Alpha,2017-03-01 01:00:00,P,0,2017-03-01 01:05:00,P,0,5,5,0,0,10001,1,2017-03-01 01:00:00,60.0,2017-03-01 01:05:00,24805505.0
5,Alpha,2017-03-01 00:00:00,P,0,2017-03-01 00:05:00,P,0,5,5,10,10,10002,1,2017-03-01 00:00:00,0.0,2017-03-01 00:05:00,24805445.0
6,Bravo,2017-03-01 00:15:00,P,0,2017-03-01 00:20:00,P,0,5,5,10,10,10002,1,2017-03-01 00:15:00,15.0,2017-03-01 00:20:00,24805460.0
7,Charlie,2017-03-01 00:30:00,P,0,2017-03-01 00:35:00,P,0,5,5,10,10,10002,1,2017-03-01 00:30:00,30.0,2017-03-01 00:35:00,24805475.0
8,Delta,2017-03-01 00:45:00,P,0,2017-03-01 00:50:00,P,0,5,5,10,10,10002,1,2017-03-01 00:45:00,45.0,2017-03-01 00:50:00,24805490.0
9,Echo,2017-03-01 01:00:00,P,0,2017-03-01 01:05:00,P,0,5,5,0,0,10002,1,2017-03-01 01:00:00,60.0,2017-03-01 01:05:00,24805505.0
10,Echo,2017-03-01 00:00:00,P,0,2017-03-01 00:05:00,P,0,5,5,10,10,10003,1,2017-03-01 00:00:00,0.0,2017-03-01 00:05:00,24805445.0
11,Delta,2017-03-01 00:15:00,P,0,2017-03-01 00:20:00,P,0,5,5,10,10,10003,1,2017-03-01 00:15:00,15.0,2017-03-01 00:20:00,24805460.0
12,Charlie,2017-03-01 00:30:00,P,0,2017-03-01 00:35:00,P,0,5,5,10,10,10003,1,2017-03-01 00:30:00,30.0,2017-03-01 00:35:00,24805475.0
13,Bravo,2017-03-01 00:45:00,P,0,2017-03-01 00:50:00,P,0,5,5,10,10,10003,1,2017-03-01 00:45:00,45.0,2017-03-01 00:50:00,24805490.0
14,Alpha,2017-03-01 01:00:00,P,0,2017-03-01 01:05:00,P,0,5,5,0,0,10003,1,2017-03-01 01:00:00,60.0,2017-03-01 01:05:00,24805505.0
15,Alpha,2017-03-01 00:00:00,P,0,2017-03-01 00:05:00,P,0,5,5,10,10,10004,1,2017-03-01 00:00:00,0.0,2017-03-01 00:05:00,24805445.0
16,Bravo,2017-03-01 00:15:00,P,0,2017-03-01 00:20:00,P,0,5,5,10,10,10004,1,2017-03-01 00:15:00,15.0,2017-03-01 00:20:00,24805460.0
17,Charlie,2017-03-01 00:30:00,P,0,2017-03-01 00:35:00,P,0,5,5,10,10,10004,1,2017-03-01 00:30:00,30.0,2017-03-01 00:35:00,24805475.0
18,Delta,2017-03-01 00:45:00,P,0,2017-03-01 00:50:00,P,0,5,5,10,10,10004,1,2017-03-01 00:45:00,45.0,2017-03-01 00:50:00,24805490.0
19,Echo,2017-03-01 01:00:00,P,0,2017-03-01 01:05:00,P,0,5,5,0,0,10004,1,2017-03-01 01:00:00,60.0,2017-03-01 01:05:00,24805505.0
20,Echo,2017-03-01 00:00:00,P,0,2017-03-01 00:05:00,P,0,5,5,10,10,10005,1,2017-03-01 00:00:00,0.0,2017-03-01 00:05:00,24805445.0
21,Delta,2017-03-01 00:15:00,P,0,2017-03-01 00:20:00,P,0,5,5,10,10,10005,1,2017-03-01 00:15:00,15.0,2017-03-01 00:20:00,24805460.0
22,Charlie,2017-03-01 00:30:00,P,0,2017-03-01 00:35:00,P,0,5,5,10,10,10005,1,2017-03-01 00:30:00,30.0,2017-03-01 00:35:00,24805475.0
23,Bravo,2017-03-01 00:45:00,P,0,2017-03-01 00:50:00,P,0,5,5,10,10,10005,1,2017-03-01 00:45:00,45.0,2017-03-01 00:50:00,24805490.0
24,Alpha,2017-03-01 01:00:00,P,0,2017-03-01 01:05:00,P,0,5,5,0,0,10005,1,2017-03-01 01:00:00,60.0,2017-03-01 01:05:00,24805505.0
25,Alpha,2017-03-01 00:00:00,P,0,2017-03-01 00:05:00,P,0,5,5,10,10,10006,1,2017-03-01 00:00:00,0.0,2017-03-01 00:05:00,24805445.0
26,Bravo,2017-03-01 00:15:00,P,0,2017-03-01 00:20:00,P,0,5,5,10,10,10006,1,2017-03-01 00:15:00,15.0,2017-03-01 00:20:00,24805460.0
27,Charlie,2017-03-01 00:30:00,P,0,2017-03-01 00:35:00,P,0,5,5,10,10,10006,1,2017-03-01 00:30:00,30.0,2017-03-01 00:35:00,24805475.0
28,Delta,2017-03-01 00:45:00,P,0,2017-03-01 00:50:00,P,0,5,5,10,10,10006,1,2017-03-01 00:45:00,45.0,2017-03-01 00:50:00,24805490.0
29,Echo,2017-03-01 01:00:00,P,0,2017-03-01 01:05:00,P,0,5,5,0,0,10006,1,2017-03-01 01:00:00,60.0,2017-03-01 01:05:00,24805505.0
30,Echo,2017-03-01 00:00:00,P,0,2017-03-01 00:05:00,P,0,5,5,10,10,10007,1,2017-03-01 00:00:00,0.0,2017-03-01 00:05:00,24805445.0
31,Delta,2017-03-01 00:15:00,P,0,2017-03-01 00:20:00,P,0,5,5,10,10,10007,1,2017-03-01 00:15:00,15.0,2017-03-01 00:20:00,24805460.0
32,Charlie,2017-03-01 00:30:00,P,0,2017-03-01 00:35:00,P,0,5,5,10,10,10007,1,2017-03-01 00:30:00,30.0,2017-03-01 00:35:00,24805475.0
33,Bravo,2017-03-01 00:45:00,P,0,2017-03-01 00:50:00,P,0,5,5,10,10,10007,1,2017-03-01 00:45:00,45.0,2017-03-01 00:50:00,24805490.0
34,Alpha,2017-03-01 01:00:00,P,0,2017-03-01 01:05:00,P,0,5,5,0,0,10007,1,2017-03-01 01:00:00,60.0,2017-03-01 01:05:00,24805505.0
35,Alpha,2017-03-01 00:00:00,P,0,2017-03-01 00:05:00,P,0,5,5,10,10,10008,1,2017-03-01 00:00:00,0.0,2017-03-01 00:05:00,24805445.0
36,Bravo,2017-03-01 00:15:00,P,0,2017-03-01 00:20:00,P,0,5,5,10,10,10008,1,2017-03-01 00:15:00,15.0,2017-03-01 00:20:00,24805460.0
37,Charlie,2017-03-01 00:30:00,P,0,2017-03-01 00:35:00,P,0,5,5,10,10,10008,1,2017-03-01 00:30:00,30.0,2017-03-01 00:35:00,24805475.0
38,Delta,2017-03-01 00:45:00,P,0,2017-03-01 00:50:00,P,0,5,5,10,10,10008,1,2017-03-01 00:45:00,45.0,2017-03-01 00:50:00,24805490.0
39,Echo,2017-03-01 01:00:00,P,0,2017-03-01 01:05:00,P,0,5,5,0,0,10008,1,2017-03-01 01:00:00,60.0,2017-03-01 01:05:00,24805505.0